<template name="Modal">
  <div class="background">
    <div class="yhcms-modal">
      <div class="yhcms-modal-header">
        <h4>{{title}}</h4>
        <i class="yhicon-close"></i>
      </div>
      {{> Template.dynamic template=contentTPL }}
    </div>
    <div class="hover-model">
      <div class="img-wrap">
        <img src="/images/shengzi.png" alt="">
      </div>
      <div class="add-proj-input">
        <span>添加项目归属</span>
        <input type="text" name="" value="" id="rela_value">
        <div class="button-group">
          <img src="/images/x.png" alt="" id="left-btn">
          <img src="/images/check.png" alt="" id="right-btn">
        </div>
      </div>
    </div>
  </div>
</template>
