<head>
  <link href="https://static.yonghuivip.com/1d2a29dd5b7dc39600ef38bf10f4a1d6-03d963a939e036d2d3471dc24261a0dc.css" rel="stylesheet">
</head>
<template name="basicLayout">
  <div id="main" class="yhcms-main-container">
    <header class="yhcms-main-header">
      {{> Template.dynamic template=header}}
    </header>
    {{> Template.dynamic template=content}}
    {{#if modalOpen}}
      {{> Modal}}
    {{/if}}
    {{#if showSpin}}
      <div class="overlay">
        {{> spin}}
      </div>
    {{/if}}
    <footer>
    </footer>
  </div>
</template>
