.image-editor-page {
  padding: 15px;
  display: inline-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.image-editor-page .add-file {
  width: 100px;
  height: 100px;
}
.image-editor-page .add-file .yhicon-plus{
  line-height: 140px;
}
.title {
  text-align: center;
}
.title span{
  font-size: 50px;
}
