li {
  list-style-type:none;
  border-radius: 10px;
}
.htmlfile_progress {
  width: 110px;
  height: 7px;
  margin-left: 10px;
  margin-top: -25px;
  position: absolute;
}
.htmlfile_progress .progress{
  height: 7px;
}
.look_btn {
  cursor: pointer;
}
