li {
  list-style-type:none;
  border-radius: 10px;
}
.htmlfile_progress {
  width: 110px;
  height: 7px;
  margin-left: 10px;
  margin-top: -25px;
  position: absolute;
}
.htmlfile_progress .progress{
  height: 7px;
}
.look_btn {
  cursor: pointer;
}
.html_li {
  width: 250px;
  height: 300px;
}
.html_li .prepare-delete {
  display: none;
  z-index: 999;
  position: absolute;
  width: 170px;
  height: 170px;
  top: -20px;
  left: -10px;
}
.html_li .prepare-delete img {
  width: 170px;
  height: 170px;
}
.html_li .prepare-delete span {
  position: absolute;
  transform: rotate(-18deg);
  top: 68px;
  left: 50px;
  color: #cd000a;
  font-size: 22px;
}
.html_li .html-top-cantainer {
  z-index: 888;
  background-image: url('/images/background4.jpg');
  background-size: 109% 100%;
  border-radius: 5px 5px 0 0;
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
}
.html_li .html-top-cantainer .title {
  width: 65%;
  margin: 100px auto;
}
.html_li .html-bottom-cantainer {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.html_li .html-mask {
  z-index: 999;
  width: 126px;
  height: 40px;
  position: absolute;
  display: none;
  border-radius: 30px;
  background-color: rgb(25, 24, 25);
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  bottom: 60px;
  webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.html_li .html-mask span {
  z-index: 999;
}
.html_li .bottom-bar {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}
.html_li .bottom-bar img {
  width: 30px;
}
.html_li .bottom-bar .bar-img {
  margin: 10px 0;
}
.circleProgress_wrapper{
  width: 180px;
  height: 180px;
  margin: 50px auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 42px;
  margin: auto;
  z-index: 999;
}
.circleProgress_wrapper h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 72px;
  margin: auto;
}
.circleProgress{
  width: 140px;
  height: 140px;
  border:10px solid transparent;
  border-radius: 50%;
  position: absolute;
  top:0;
}
.rightcircle{
    border-top:10px solid #84f384;
    border-right:10px solid #84f384;
    right:0;
    transform: rotate(-135deg);
}
.leftcircle{
    border-bottom:10px solid #84f384;
    border-left:10px solid #84f384;
    left:0;
    transform: rotate(-135deg)
}
.wrapper{
    width: 70.3px;
    height: 200px;
    position: absolute;
    top: 20px;
    overflow: hidden;
}
.right{
    right: 20px;
}
.left{
    left: 20px;
}
