<template name="htmlfile">
	<li class="html_li">
		<div>
			<div>
				<h4 title="{{html.dirName}}">{{html.dirName}}</h4>
			</div>
      {{#if html.uploading}}
        <div class="htmlfile_progress">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{html.percent}}%"></div>
          </div>
        </div>
      {{/if}}
			<div class="html-mask" style="display: {{display}}">
				<span>待删除</span>
			</div>
			<div class="look_btn">
				<a target="_blank">查看</a>
			</div>
		</div>
	</li>
</template>
