.html-editor-page {
  padding: 15px;
  display: inline-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.add-file {
  margin-left: 15px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 20px;
}
.title {
  text-align: center;
}
.title span{
  font-size: 50px;
}
