.html-editor-page {
  padding: 15px;
  display: inline-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 777;
  position: relative;
  .add-hover {
    width: 100px;
    left: 0;
    right: 0;
    top: -80px;
    margin: auto;
    position: absolute;
    cursor: pointer;
    img {
      width: 100px;
    }
    z-index: 888;
  }
  .title {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 777;
    span {
      font-size: 50px;
    }
  }
}
.contentBox { padding-top: 80px; }
.contentBox .add-file {
  margin-top: 40px;
  left: 40px;
  width: 180px;
  height: 180px;
}
.contentBox li {
    float: left;
    margin-left: 30px;
    margin-bottom: 35px;
    text-align: center;
    position: relative;
    webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.contentBox li h4 { height: 30px; line-height: 30px;   overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer;}
.contentBox li h4:hover { color: red;  }
.contentBox li .html-mask span {
    font-size: 20px;
    display: block;
    line-height: 40px;
    color: white;
    font-family: cursive;
    cursor: pointer;
}
.contentBox li .look_btn {
    position: absolute;
    width: 30px;
    top: 0px;
    left: -1px;
    height: 81px;
    /* border-radius: 50% 50% 0 0; */
    background-color: #337ab7;
    line-height: 31px;
    color: #fff;
    z-index: 1;
    border-radius: 10px 0 0 10px;
    webkit-box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.4);
    box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.4);
}
.contentBox li .look_btn a { color: #fff;writing-mode: tb-rl; margin-top: 20px; letter-spacing:10px;}
.contentBox li .look_btn a:hover{ text-decoration:none; }
.drop-here {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}
.drop-desc {
  width: 20%;
  margin: 100px auto;
  font-size: 24px;
  font-family: monospace;
  text-align: center;
  border: 3px dashed orange;
  display: none;
}
.drop-desc img {
  width: 70px;
  height: 70px;
  margin-top: -20px;
}
.drop-desc span {
  line-height: 70px;
  color: white;
}
.border-ora {
  border: 3px dashed orange;
  background: rgba(0, 0, 0, 0.53);
}
