.searchBar {
  position: absolute;
  top: 12px;
  left: 15px;
}
.searchBar input {
  border-radius: 8px;
  border: 1px solid rgba(35, 30, 30, 0.51);
  outline: none;
  padding-left: 75px;
  width: 200px;
  margin-left: 12px;
}
.searchBar i {
  position: absolute;
  left: 221px;
  top: 5px;
}
