.svgfile {
  background-color: rgba(222, 39, 39, 0.45);
  width: 140px;
  height: 100px;
  margin-left: 15px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  margin-bottom: 27px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  cursor: pointer;
  .drop-left{
    width: 20px;
    height: 100px;
    background: white;
  }
  .drop-right{
    width: 20px;
    height: 100px;
    background: white;
  }
}
.svgfile svg{
  width: 100px;
  height: 100px;
}
.svgfile_progress {
  width: 80px;
  height: 7px;
  margin-left: 9px;
  margin-top: 45px;
}
.svgfile_progress .progress{
  height: 7px;
}
.mask {
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, .60);
  opacity: 1;
  z-index: 1;
  left: 20px;
  top: 0px;
}
.mask span{
  font-size: 22px;
  display: block;
  margin-top: 37px;
  color: white;
  font-family: cursive;
}
.svg_name {
  position: absolute;
  top: 103px;
  width: 100%;
  .name_span {
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
  }
}
