.show-file {
  position: relative;
  margin-right: 20px;
  margin-bottom: 60px;
  border-radius: 5px;
}
.show-file {
  width: 100px;
  height: 120px;
  webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.show-file .prepare-delete {
  display: none;
  z-index: 999;
  position: absolute;
  width: 80px;
  height: 80px;
  top: -20px;
  left: -10px;
}
.show-file .prepare-delete img {
  width: 80px;
  height: 80px;
}
.show-file .prepare-delete span {
  display: block;
  width: 100px;
  position: absolute;
  transform: rotate(-18deg);
  top: 22px;
  left: 16px;
  color: #cd000a;
  font-size: 12px;
}
.show-file .html-top-cantainer {
  background-color: rgb(244, 244, 244);
  background-size: 100% 100%;
  border-radius: 5px 5px 0 0;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 888;
}
.show-file .html-top-cantainer .title {
  width: 65%;
  margin: 100px auto;
}
.show-file .html-bottom-cantainer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.show-file .html-mask {
  z-index: 999;
  width: 60px;
  height: 20px;
  position: absolute;
  display: none;
  border-radius: 30px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: white;
  font-family: cursive;
  cursor: pointer;
  background-color: rgb(25, 24, 25);
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;
  bottom: 60px;
  webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.show-file .html-mask span {
  z-index: 999;
}
.show-file .bottom-bar {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  height: 20px;
  justify-content: space-around;
}
.show-file .bottom-bar img {
  width: 15px;
}
.show-file .bottom-bar .bar-img {
  margin: 0px 0;
}
.circleProgress_wrapper{
  width: 180px;
  height: 180px;
  margin: 50px auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 42px;
  margin: auto;
  z-index: 999;
}
.circleProgress_wrapper h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 72px;
  margin: auto;
}
.circleProgress{
  width: 140px;
  height: 140px;
  border:10px solid transparent;
  border-radius: 50%;
  position: absolute;
  top:0;
}
.rightcircle{
    border-top:10px solid #84f384;
    border-right:10px solid #84f384;
    right:0;
    transform: rotate(-135deg);
}
.leftcircle{
    border-bottom:10px solid #84f384;
    border-left:10px solid #84f384;
    left:0;
    transform: rotate(-135deg)
}
.wrapper{
    width: 70.3px;
    height: 200px;
    position: absolute;
    top: 20px;
    overflow: hidden;
}
.right{
    right: 20px;
}
.left{
    left: 20px;
}
