<template name="showfile">
  <div class="show-file">
    {{#if showprogress}}
		<div class="circleProgress_wrapper">
        <div class="wrapper right">
            <div class="circleProgress rightcircle" style="transform: rotate({{right_trans}}deg)"></div>
        </div>
        <div class="wrapper left">
            <div class="circleProgress leftcircle" style="transform: rotate({{left_trans}}deg)"></div>
        </div>
				<h1>{{image.percent}}%</h1>
	 </div>
	 {{/if}}
   <div class="prepare-delete">
     <img src="/images/pd.png" alt="">
     <span>待删除</span>
   </div>
		<a target="_blank">
			<span id="{{image.fileId}}"></span>
		</a>
		<div class="html-top-cantainer" style="background-image: url('{{url}}')">
		</div>
    <div class="image-name">
      <span title="{{image.name}}">{{image.name}}</span>
    </div>
		<div class="html-bottom-cantainer">
			<div class="html-mask">
				<span>查看</span>
			</div>
			<div class="bottom-bar">
				<div class="bar-img" index="1">
					<img src="/images/look.png" alt="">
				</div>
				<div class="bar-img" index="2" style="display: {{display}}">
					<img src="/images/delete.png" alt="">
				</div>
			</div>
		</div>
  </div>
</template>
