.add-btn-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 0;
}
.proj {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.proj {
  width: 280px;
  height: 180px;
  webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.proj .prepare-delete {
  display: none;
  z-index: 999;
  position: absolute;
  width: 170px;
  height: 170px;
  top: -20px;
  left: -10px;
}
.proj .prepare-delete img {
  width: 170px;
  height: 170px;
}
.proj .prepare-delete span {
  position: absolute;
  transform: rotate(-18deg);
  top: 68px;
  left: 50px;
  color: #cd000a;
  font-size: 22px;
}
.proj .html-top-cantainer {
  background-image: url('/images/bg@3x.png');
  background-size: 100% 100%;
  border-radius: 5px 5px 0 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  padding: 15px 0;
  z-index: 888;
  .proj-text {
    width: 100%;
    min-height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    color: black;
    font-family: monospace;
  }
}
.proj .html-top-cantainer .title {
  width: 65%;
  margin: 100px auto;
}
.proj .html-bottom-cantainer {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.proj .html-mask {
  z-index: 999;
  width: 126px;
  height: 40px;
  position: absolute;
  display: none;
  border-radius: 30px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-family: cursive;
  cursor: pointer;
  background-color: rgb(25, 24, 25);
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  bottom: 60px;
  webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.proj .html-mask span {
  z-index: 999;
}
.proj .bottom-bar {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}
.proj .bottom-bar img {
  width: 30px;
}
.proj .bottom-bar .bar-img {
  margin: 10px 0;
}
